/* Générale */

body{
    
    background-color: #607474;
    font-family: montserrat light, Arial,sans-serif;
    color: white;
    
}

#text{
    background-color: #738585;
    margin: 30px 300px 30px 300px;
    padding: 20px;
}

/* CV */

#EnTeteCV{
    position: absolute;
    left: 0px;
    top: 0px;
    width: auto;
}

.logoPageCV{
    width: 550px;
}

#bodyCV{
    background-color: #232731;
}

#CV{
    text-align: center;
}

.moncv{
    width: 700px;
    margin-top: 50px;
}

/* En tête */

#EnteteIndex{
    
    background-color: #232731;
    position: absolute;
    left: 0px;
    top: 0px;
}

#lien li a{
    text-decoration: none;
    color: white;
}

li{
    float: right;
    margin: 15px;
    font-size: 13px;
    text-transform: uppercase;
    list-style-type: none;
}

#lien li a:hover{
    color:#607474;
}

.logo{
    width: 100%;
}

/* Partie HTML/CSS */

.logopage{
    width: 300px;
}

#logopageweb{
    margin-left: auto;
    margin-right: auto;
    filter: drop-shadow(4px 4px 4px black);

}

#logopageweb1{
    margin-left: auto;
    margin-right: auto;
    margin-top: 900px;
    filter: drop-shadow(4px 4px 4px black);
    
}

.routedurock{
    float: center;
    filter: drop-shadow(4px 4px 4px black);
}

.html1{
    width: 370px;
    height: 270px;
    filter: drop-shadow(4px 4px 4px black);
}

#align{
    display: inline-block;
    margin: 5px;
}

#rdr{
    margin: auto;
}

#html {
    text-align: center;
}

#textcapture{
    margin: 30px 365px 30px 370px;
    background-color: #738585;
    padding: 20px;
}

/* Partie javascript */


.js1{
    width: 370px;
    height: 270px;  
    filter: drop-shadow(3px 3px 3px black);

}

#javascript{
    text-align: center;
}

/* Partie webdesign */

#wd1{
    display: inline-block;
}

#wd2{
    display: inline-block;
}

.page{
    width: 432px;
    margin: 0px 10px 0px 10px;
    filter: drop-shadow(3px 3px 3px black);

}

.page1{
    width: 432px;
    margin: 0px 10px 0px 10px;
    filter: drop-shadow(3px 3px 3px black);

}


.page3{
    width: 432px;
    margin: 0px 200px 0px 200px;
    filter: drop-shadow(3px 3px 3px black);
  

}

.page4{
    width: 432px;
    margin: 0px 10px 0px 10px;
    filter: drop-shadow(3px 3px 3px black);

}

.mobile1 {
    width: 230px;
    margin: 20px;
    filter: drop-shadow(3px 3px 3px black);

}


#align2{
    display: inline-block;
    
}

#webdesign{
    text-align: center;
}

.bouton1{
    background-color:#232731;
    border:rgba(0,0,0,0);
    box-shadow:0 0px 0px rgba(0,0,0,0);
    padding:8px 14px;
    display:inline-block;
    text-decoration:none;
    color: white;
    text-shadow:none;
    text-transform: capitalize;
    font-weight: 100;
    margin: 20px;
    filter: drop-shadow(2px 2px 2px black);
}

.bouton2{
    background-color:#232731;
    border:rgba(0,0,0,0);
    box-shadow:0 0px 0px rgba(0,0,0,0);
    padding:8px 14px;
    display:inline-block;
    text-decoration:none;
    color: white;
    text-shadow:none;
    text-transform: capitalize;
    font-weight: 100;
    margin: 20px;
    filter: drop-shadow(2px 2px 2px black);
}

.bouton3{
    background-color:#232731;
    border:rgba(0,0,0,0);
    box-shadow:0 0px 0px rgba(0,0,0,0);
    padding:8px 14px;
    display:inline-block;
    text-decoration:none;
    color: white;
    text-shadow:none;
    text-transform: capitalize;
    font-weight: 100;
    margin: 20px;
    filter: drop-shadow(2px 2px 2px black);
}

.bouton4{
    background-color:#232731;
    border:rgba(0,0,0,0);
    box-shadow:0 0px 0px rgba(0,0,0,0);
    padding:8px 14px;
    display:inline-block;
    text-decoration:none;
    color: white;
    text-shadow:none;
    text-transform: capitalize;
    font-weight: 100;
    margin: 20px;
    filter: drop-shadow(2px 2px 2px black);
}

/* Partie illustrator */

#illustrator{
    text-align: center;
}

.classeIllus{
    display: inline-block;
}

.illus {
    width: 400px;
    margin: 20px;
    filter: drop-shadow(3px 3px 3px black);

}

.illus1 {
    width: 300px;
    margin: 20px;
    filter: drop-shadow(3px 3px 3px black);

}

/* Pied de Page */

footer{
    background-color: #232731;
    position: absolute;
    right: 0px;
    left: 0px;
}

.logofooter{
    width: 500px;
}

#contact{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    
}

#contact p a{
    text-decoration: none; 
    color: white;
}
#contact p a:hover{
    color: #607474;
}

@media screen and (max-width: 1500px){
    #EnteteIndex
	{
        float: right;
    }
    
    #logopageweb1
    {
        margin-top: 800px;
    }
    
    #text{
    margin: 20px 200px 20px 200px;
    padding: 20px;
    font-size: 15px
    }
    
    #textcapture{
    margin: 20px 200px 20px 200px;
    padding: 20px;
    font-size: 15px
    }
    
    .html1{
    width: 500px;
    height: 300px;
    filter: drop-shadow(4px 4px 4px black);
    }
    
    .js1{
    width: 500px;
    height: 300px;  
    filter: drop-shadow(3px 3px 3px black);
    }
        
    .routedurock{
    width: 500px;
    filter: drop-shadow(4px 4px 4px black);
    }
    
    .page{
    width: 4s00px;
    margin: 0px 10px 0px 10px;
    filter: drop-shadow(3px 3px 3px black);
    }

    .page1{
    width: 400px;
    margin: 0px 10px 0px 10px;
    filter: drop-shadow(3px 3px 3px black);
    }
    
    .page3{
    width: 400px;
    margin: 0px 200px 0px 200px;
    filter: drop-shadow(3px 3px 3px black);
    }
    
    .mobile1 {
    width: 230px;
    margin: 20px;
    filter: drop-shadow(3px 3px 3px black);
    }
    
    .logopage{
    width: 250px;
    }
    
    .logofooter{
    width: 400px;
    }

    
}

@media screen and (max-width: 1000px){
    #EnteteIndex
	{
        float: right;
        font-size: 10px;
    }
    
    #logopageweb1
    {
        margin-top: 600px;
    }
    
    #text{
    margin: 10px 100px 10px 100px;
    padding: 10px;
    font-size: 10px
    }
    
    #textcapture{
    margin: 10px 100px 10px 100px;
    padding: 10px;
    font-size: 10px
    }
    
    #contact{
    font-size: 12px;
    }
    
    .html1{
    width: 250px;
    height: 150px;
    filter: drop-shadow(4px 4px 4px black);
    }
    
    .js1{
    width: 250px;
    height: 150px; 
        filter: drop-shadow(3px 3px 3px black);}
    
    .routedurock{
    width: 300px;
    filter: drop-shadow(4px 4px 4px black);
    }
    
    .page{
    width: 350px;
    margin: 0px 10px 0px 10px;
    filter: drop-shadow(3px 3px 3px black);
    }

    .page1{
    width: 350px;
    margin: 0px 10px 0px 10px;
    filter: drop-shadow(3px 3px 3px black);
    }
    
    .page3{
    width: 350px;
    margin: 0px 200px 0px 200px;
    filter: drop-shadow(3px 3px 3px black);
    }
    
    .mobile1 {
    width: 200px;
    margin: 20px;
    filter: drop-shadow(3px 3px 3px black);
    }
        
    .logopage{
    width: 230px;
    }
    
    .logofooter{
    width: 350px;
    }

}


@media screen and (max-width: 800px){
    #EnteteIndex
	{
        float: right;
        font-size: 10px;
    }
    
    li{
        font-size: 10px;
    }
    
    #logopageweb1
    {
        margin-top: 600px;
    }
    
    #text{
    margin: 10px 100px 10px 100px;
    padding: 10px;
    font-size: 10px
    }
    
    #textcapture{
    margin: 10px 100px 10px 100px;
    padding: 10px;
    font-size: 10px;
    }
    
    #contact{
    font-size: 12px;
    }
    
    .html1{
    width: 170px;
    height: 120px;
    filter: drop-shadow(4px 4px 4px black);
    }
    
    .js1{
    width: 170px;
    height: 120px;
    filter: drop-shadow(3px 3px 3px black);}
    
    .routedurock{
    width: 200px;
    filter: drop-shadow(4px 4px 4px black);
    }
    
    .page{
    width: 300px;
    margin: 0px 10px 0px 10px;
    filter: drop-shadow(3px 3px 3px black);
    }

    .page1{
    width: 300px;
    margin: 0px 10px 0px 10px;
    filter: drop-shadow(3px 3px 3px black);
    }
    
    .page3{
    width: 300px;
    margin: 0px 100px 0px 100px;
    filter: drop-shadow(3px 3px 3px black);
    }
    
    
    .mobile1 {
    width: 170px;
    margin: 20px;
    filter: drop-shadow(3px 3px 3px black);
    }
    
    .logopage{
    width: 210px;
    }
    
    .logofooter{
    width: 250px;
    }

}

/* Requête média */

@media screen and (max-width: 680px){
    #EnteteIndex
	{
        float: right;
        font-size: 7px;
    }
    
    li{
        font-size: 10px;
    }
    
    #logopageweb1
    {
        margin-top: 420px;
    }
    
    #text{
    margin: 10px 100px 10px 100px;
    padding: 10px;
    font-size: 10px
    }
    
    #textcapture{
    margin: 10px 100px 10px 100px;
    padding: 10px;
    font-size: 10px
    }
    
    #contact{
    font-size: 12px;
    }
    
    .html1{
    width: 150px;
    height: 100px;
    filter: drop-shadow(4px 4px 4px black);
    }
    
    .js1{
    width: 150px;
    height: 100px;
    filter: drop-shadow(3px 3px 3px black);}
    
    .routedurock{
    width: 200px;
    filter: drop-shadow(4px 4px 4px black);
    }
    
    .page{
    width: 200px;
    margin: 0px 10px 0px 10px;
    filter: drop-shadow(3px 3px 3px black);
    }

    .page1{
    width: 230px;
    margin: 0px 10px 0px 10px;
    filter: drop-shadow(3px 3px 3px black);
    }
    
    .page3{
    width: 230px;
    margin: 0px 100px 0px 100px;
    filter: drop-shadow(3px 3px 3px black);
    }
    
    .mobile1 {
    width: 100px;
    margin: 20px;
    filter: drop-shadow(3px 3px 3px black);
    }
    
    .logopage{
    width: 190px;
    }
    
    .logofooter{
    width: 200px;
    }
    
    #contact{
    font-size: 7px;
    }

}


